
<div class="row">
    <div class="col-4" *ngFor="let image of imagenes; let i=index">
        <img [src]="image.src" (click)="abrirFoto(i)" class="img-thumbnail">
        <br>
        <div class="text-center mt-1">
            <button class="btn btn-danger btn-sm mr-3" title="Eliminar" (click)="eliminarImagen(image.name)">
                <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-success btn-sm" title="Descargar">
                <a [href]="image.src" target="_blank" rel="noopener noreferrer"><i class="fa fa-download"></i></a>
            </button>
        </div>
    </div>
</div>