.bgDisenart {
    background-color: #3296C8;
    color: white;
}

.btnDisenart,
table th {
    font-family: 'GilroyBold', Tahoma, Geneva, Verdana, sans-serif;
}

.card-header,
table td {
    font-family: 'Gilroy', Tahoma, Geneva, Verdana, sans-serif;
}

td i.fa {
    cursor: pointer;
}