<app-bo-header [breadcrumbs]="breadcrumbs"></app-bo-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<span>Listado de montos</span>

				</div>
				<div class="card-body">
					<table class="table table-bordered table-sm table-striped w-100">
						<thead class="bgDisenart text-center">
							<tr>
								<th>Nombre</th>
								<th>Valor</th>
                                <th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let monto of montos">
								<td>{{ monto.id | titlecase }}</td>
								<td>{{ monto.montosData.valor | currency : 'USD' : 'symbol' : '1.2-2' : 'es-Ar' }}</td>
								<td class="text-center">
									<i class="fa fa-pencil mr-3" title="Editar" (click)="abrirModalMontos(monto)"></i>
									<i class="fa fa-trash" title="Eliminar" (click)="eliminarMonto(monto)"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>	
</div>