<div class="container-fluid pr-0 pl-0">
	<app-header></app-header>
	<section class="showcase">
		<div class="showcase-content">
			<img src="assets/img/logo_2.png" width="20%" alt="Diseñart Logo">
			<p class="mt-3 text-uppercase">Más de una década brindando servicios a la construcción de viviendas</p>
		</div>
	</section>
	<section class="about-us-section" id="nosotros">
		<div class="about-us">
			<div class="inner-container">
				<h1 class="section-title text-uppercase">Nosotros</h1>
				<p>
					{{nosotros}}
				</p>
			</div>
		</div>
	</section>
	<section class="services-section" id="servicios">
		<div class="row mx-auto">
			<div class="col-12 text-center text-uppercase mt-3">
				<h2 class="section-title">Te ofrecemos</h2>
			</div>
		</div>
		<div class="services-section-container">
			<div class="row mx-auto p-3">
				<div class="col-lg-3 col-md-6 col-sm-6 mb-2">
					<div class="card h-100 shadow-lg">
						<img class="card-img-top" src="assets/img/llaveEnMano.jpg" alt="Llave en mano">
						<div class="card-body">
							<div class="card-title font-weight-bold text-uppercase">
								Llave en mano
							</div>
							<p>Contamos con precios especiales para construcciones mayores a los 250m2.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 mb-2">
					<div class="card h-100 shadow-lg">
						<img class="card-img-top" src="assets/img/obraGruesa.jpg" alt="Obra gruesa">
						<div class="card-body">
							<div class="card-title font-weight-bold text-uppercase">
								Obra gruesa
							</div>
							<p>Comprende la estructura principal de la vivienda, desde los cimientos hasta la cubierta, con todos los servicios funcionando: luz, agua, calefacción y gas.</p>
						</div>
						<div class="card-footer bg-transparent text-center border-0">
							<button class="btn btn-disenart" (click)="goToPresupuestos()">Nuestros materiales</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 mb-2">
					<div class="card h-100 shadow-lg">
						<img class="card-img-top" src="assets/img/piscinas.jpg" alt="Piscinas">
						<div class="card-body">
							<div class="card-title font-weight-bold text-uppercase">
								Piscinas
							</div>
							<p>Construimos piscinas completamente en hormigón H21 y armadura de hierro de alta resistencia, trabajamos con materiales de primera calidad y mano de obra especializada brindando una máxima vida útil.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 mb-2">
					<div class="card h-100 shadow-lg">
						<img class="card-img-top" src="assets/img/disenoInteriores.jpg" alt="Interiores">
						<div class="card-body">
							<div class="card-title font-weight-bold text-uppercase">
								Diseño de interiores
							</div>
							<p>
								Diseñamos una correcta utilización del espacio para que funcione y haga realidad los deseos de sus habitantes. Asesoramos en decoración y te ayudamos a encontrar el equilibrio o las sensaciones deseadas en cada ambiente.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="gallery-section" id="galeria">
		<div class="row mx-auto">
			<div class="col-12 text-center text-uppercase mt-3">
				<h2 class="section-title">Nuestros proyectos</h2>
			</div>
		</div>
		<div class="row mx-auto p-2">
			<div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let proyecto of proyectos">
				<div class="card shadow-lg">
					<img class="card-img-top" src="{{ proyecto.imagenes[0].src }}" alt="Imagen del proyecto" *ngIf="proyecto.imagenes.length > 0">
					<div class="card-header bgDisenart">
						{{ proyecto.obraData.nombre }}
					</div>
					<div class="card-body">
						<ul>
							<li><strong>Zona:</strong> {{ proyecto.obraData.zona }}</li>
							<li *ngIf="proyecto.obraData.barrio"><strong>Barrio:</strong> {{ proyecto.obraData.barrio }}</li>
							<li *ngIf="proyecto.obraData.area"><strong>Área:</strong> {{ proyecto.obraData.area }}</li>
						</ul>
					</div>
					<div class="card-footer text-right">
						<button class="btn btn-disenart" (click)="abrirProyectoModal(proyecto)">Ver más</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="budget-section" id="calculaTuProyecto">
		<div class="row mx-auto">
			<div class="col-12 text-center text-uppercase mt-3">
				<h2 class="section-title">Calculá tu proyecto</h2>
			</div>
		</div>
		<form [formGroup]="presupuestoFormGroup">
			<div class="row mx-auto p-3">
				<div class="col-lg-3 offset-lg-3 col-md-4 offset-md-2 col-sm-12">
					<div class="form-group">
						<label for="test">Cubierta</label>
						<div class="input-group mb-3">
							<input type="number" class="form-control" id="txt-cubierta" placeholder="Superficie" aria-label="Superficie en metros cuadrados" aria-describedby="txt-cubierta-append" formControlName="cubierta" (change)="calcularPresupuesto()">
							<div class="input-group-append">
								  <span class="input-group-text" id="txt-cubierta-append">m<sup>2</sup></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="test">Semicubierta</label>
						<div class="input-group mb-3">
							<input type="number" class="form-control" id="txt-semicubierta" placeholder="Superficie" aria-label="Superficie en metros cuadrados" aria-describedby="txt-semicubierta-append" formControlName="semiCubierta" (change)="calcularPresupuesto()">
							<div class="input-group-append">
								  <span class="input-group-text" id="txt-semicubierta-append">m<sup>2</sup></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="test">Doble altura</label>
						<div class="input-group mb-3">
							<input type="number" class="form-control" id="txt-doble-altura" placeholder="Superficie" aria-label="Superficie en metros cuadrados" aria-describedby="txt-doble-altura-append" formControlName="dobleAltura" (change)="calcularPresupuesto()">
							<div class="input-group-append">
								  <span class="input-group-text" id="txt-doble-altura-append">m<sup>2</sup></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="test">Piscina</label>
						<div class="input-group mb-3">
							<input type="number" class="form-control" id="txt-piscina" placeholder="Superficie" aria-label="Superficie en metros cuadrados" aria-describedby="txt-piscina-append" formControlName="piscina" (change)="calcularPresupuesto()">
							<div class="input-group-append">
								  <span class="input-group-text" id="txt-piscina-append">m<sup>2</sup></span>
							</div>
						</div>
					</div>
					<div class="calculate-btn">
						<button class="btn btn-secondary mr-1" type="reset" (click)="limpiarPresupuesto()">Limpiar</button>
						<button class="btn btn-disenart" (click)="calcularPresupuesto()" type="submit">Calcular</button>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="col-12 text-center text-uppercase mt-1">
						<h4 class="section-title">Total</h4>
						<h5>{{ presupuestoTotal | currency : 'USD' : 'symbol' : '1.2-2' : 'es-Ar' }}</h5>
					</div>
				</div>
			</div>
		</form>
	</section>
	<section class="contact-section" id="contacto">
		<div class="row mx-auto">
			<div class="col-12 text-center text-uppercase mt-3">
				<h2 class="section-title">Contáctenos</h2>
			</div>
		</div>
		<div class="row mx-auto p-3 mt-1">
			<div class="col-lg-3 col-md-3"></div>
			<div class="col-lg-6 col-md-6 col-sm-12 contact-info">
				<p>
					<span class="contact-label"><i class="fa fa-map-marker" aria-hidden="true"></i> Dirección: </span>
					<a href = "https://www.google.com/maps/place/Via+pilar+centro+comercial/@-34.4397373,-58.9771806,12z/data=!4m8!1m2!2m1!1sVia+pilar+centro+comercial!3m4!1s0x0:0xc1def6a184f8a964!8m2!3d-34.4344342!4d-58.8311863" target = "_blank">
						Av. Camaño 1103 Local 45 Paseo Vía Pilar
						Buenos Aires, Argentina
					</a>
				</p>
				<p><span class="contact-label"><i class="fa fa-phone" aria-hidden="true"></i> Teléfono: </span><a href="tel:02304300474">(0230) 430-0474</a></p>
				<p><span class="contact-label"><i class="fa fa-envelope" aria-hidden="true"></i> Email: </span><a href="mailto:info@dart.com.ar">info@dart.com.ar</a></p>
				<p>
					<span class="contact-label"><i class="fa fa-clock-o" aria-hidden="true"></i> Lunes - Viernes:</span> 09:00 - 18:00 <br>
					<span class="contact-label">Sabado, Domingo:</span> Cerrado
				</p>
				</div>
			</div>
		<div class="col-lg-3 col-md-3"></div>
	</section>
	<section class="footer-section text-center">
		<footer class="section-title">&copy; {{ currentYear }} Diseñart Constructora. Todos los derechos reservados.</footer>
	</section>
</div>
