/* Estilos del landing */
.section-title {
	font-family: 'GilroyBold', Tahoma, Geneva, Verdana, sans-serif;
	color: #B60E0E;
	text-shadow: rgba(51, 51, 51, .15) 1.5px 1.5px;
}

.showcase {
	/*background-color: rgb(247, 47, 47, .15);*/
	background-color: rgba(246, 246, 246, 0.7);
	color: var(--disenart-white-color);
	height: 100vh;
	position: relative;
	font-family: 'GilroyBold', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::before{
	content: '';
	background: url(/assets/img/bg_principal.jpg) no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.showcase-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.showcase-content p {
	font-size: 1.5rem;
	color: #cc3333;
	text-shadow: rgba(51, 51, 51, .3) 1.5px 1.5px;
}
/* Fin de estilos del landing */

/* Estilos sección: Nosotros */
.about-us-section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f1f1f1;
}

.about-us {
	background: url(/assets/img/about_us.jpg) no-repeat left;
	background-size: 100%;
	background-color: #fdfdfd;
	overflow: hidden;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-us h1,
.card-title,
.budget-section label, 
.budget-section .input-group-text,
.contact-label {
	font-family: 'GilroyBold', Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: rgba(51, 51, 51, .15) 1.5px 1.5px;
}

.about-us p,
.card-body p,
.budget-section ::placeholder,
.contact-info,
.card {
	font-family: 'Gilroy', Verdana, Geneva, Tahoma, sans-serif;
}

.inner-container {
	width: 60%;
	float: right;
	background-color: #fdfdfd;
	padding: 70px;
}

.inner-container h1 {
	margin-bottom: 30px;
	font-size: 30px;
}

.inner-container p {
	color: #545454;
	line-height: 20px;
	text-align: justify;
}

@media screen and (max-width:1200px) {
	.inner-container {
		padding: 25px;
	}
}

@media screen and (max-width:1000px) {
	.about-us {
		background: none;
		background-color: #fdfdfd;
	}
	
	.about-us-section {
		background-size: 100%;
		background-color: #fdfdfd;
	}

	.inner-container {
		width: 100%;
	}

	.inner-container p {
		text-align: left;
	}
}

@media screen and (max-width:600) {
	.about-us-section {
		padding: 0;
	}

	.inner-container {
		padding: 70px;
	}
}
/* Fin de los estilos sección: Nosotros */

/* Estilos sección: Servicios */ 
.services-section {
	width: 100%;
	min-height: 100vh;
	background-color: #f1f1f1;
}

.services-section .services-section-container {
	display: flex;
}

.services-section .services-section-container .row {
	margin: auto;
}

.btn-disenart {
	background-color: #B60E0E;
	color: #f1f1f1;
	font-family: 'GilroyBold', Tahoma, Geneva, Verdana, sans-serif;
}
/* Fin de los estilos sección: Servicios */ 

/* Estilos para la sección: Calculá tu proyecto */
.budget-section {
	width: 100%;
	min-height: 50vh;
	background-color: #f1f1f1;
}

.budget-section .table th {
	width: 250px;
	text-align: center;
}

.budget-section .calculate-btn {
	display: flex; 
	align-items: center; 
	justify-content: center; 
}
/* Fin de los estilos para la sección: Calculá tu proyecto */

/* Estilos para la sección: Contacto */
.contact-section {
	width: 100%;
	min-height: 50vh;
	background-color: #f1f1f1;
}
/* Fin de los estilos para la sección: Contacto */

/* Estilos para el footer */
.footer-section {
	width: 100%;
	min-height: 5vh;
	background-color: #f1f1f1;
}
/* Fin de los estilos para el footer */

/* Estilos para la sección de la galería */
.gallery-section {
	width: 100%;
	min-height: 100vh;
	background-color: #f1f1f1;
}
/* Fin de los estilos para la sección de la galería */

.bgDisenart {
	background-color: #B60E0E;
	font-family: 'GilroyBold';
	color: #f1f1f1;
}