mat-card,
.mat-tab-label-content,
form {
	font-family: 'Gilroy', Tahoma, Geneva, Verdana, sans-serif !important;
}

a {
	text-decoration: none;
	outline: none;
}

mat-card img {
	width: 150px;
}

.btn-disenart {
	background-color: #B60E0E;
	color: #f1f1f1;
	font-family: 'GilroyBold', Tahoma, Geneva, Verdana, sans-serif;
}
:host{
	display: flex;
	justify-content: center;
	margin: 100px 0;
}

.mat-form-field {
	width: 100%;
	min-width: 300px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
}