<app-bo-header [breadcrumbs]="breadcrumbs"></app-bo-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<span>Listado de textos</span>
					<button class="btn btn-sm bgDisenart btnDisenart" (click)="abrirModalTextos()">
						Agregar
					</button>
				</div>
				<div class="card-body">
					<table class="table table-bordered table-sm table-striped w-100">
						<thead class="bgDisenart text-center">
							<tr>
								<th>Seccion</th>
								<th>Titulo</th>
                                <th>Texto</th>
                                <th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let contenido of contenidos">
								<td>{{ contenido.id }}</td>
								<td>{{ contenido.contenidosData.titulo }}</td>
								<td>{{ contenido.contenidosData.text }}</td>
								<td class="text-center">
									<i class="fa fa-pencil mr-3" title="Editar" (click)="abrirModalTextos(contenido)"></i>
									<i class="fa fa-trash" title="Eliminar" (click)="eliminarContenido(contenido)"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>	
</div>