<app-bo-header [breadcrumbs]="breadcrumbs"></app-bo-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<span>Listado de textos</span>
					<button class="btn btn-sm bgDisenart btnDisenart" (click)="abrirModalTextos()">
						Agregar
					</button>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-4" *ngFor="let contenido of contenidos">
							<div class="card">
								<div class="card-header">
									{{ contenido.contenidosData.titulo }}
								</div>
								<div class="card-body text-right">
									<button class="btn btnSerena mr-3" (click)="abrirModalTextos(contenido)">
										<i class="fa fa-pencil" title="Editar"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>